* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );

  font-family: "Poppins", sans-serif;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.card img {
  height: 20vh;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.card:hover img {
  transform: scale(1.1);
}

.card figcaption {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.button-group button {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
